<ul>
    <li>Two strings are equal when they consist of the same characters in the same order. By the same fashion, two strings are not equal when they don't consist of the same characters in the same order.
    <li>When you compare two strings of different lengths and the shorter one is identical to the longer one's beginning, the longer string is considered greater.
    <li>String comparison is always case-sensitive (upper-case letters are taken as lesser than lower-case).
</ul>

In [2]:
print('alpha' == 'alpha')
print('alpha' != 'Alpha')

True
True

In [3]:
print('alpha' < 'alphabet')

True

In [4]:
print('beta' > 'Beta')

True

<li>Even if a string contains digits only, it's still not a number. It's interpreted as-is, like any other regular string, and its (potential) numerical aspect is not taken into consideration in any way.

In [6]:
print('10' == '010')
print('10' > '010')
print('10' > '8')
print('20' < '8')
print('20' < '80')

False
True
False
True
True

<li>The only comparisons you can perform with impunity are these symbolized by the == and != operators. The former always gives False, while the latter always produces True.
<li>Using any of the remaining comparison operators will raise a TypeError exception.

In [7]:
print('10' == 10)
print('10' != 10)
print('10' == 1)
print('10' != 1)
try:
    print('10' > 10)
except TypeError:
    print("This doesn't work")

False
True
False
True
This doesn't work

<li><i>sorted()</i> takes one argument (a list) and returns a new list, filled with the sorted argument's elements.

In [8]:
first_greek = ['omega', 'alpha', 'pi', 'gamma']
first_greek_2 = sorted(first_greek)

print(first_greek)
print(first_greek_2)

['omega', 'alpha', 'pi', 'gamma']
['alpha', 'gamma', 'omega', 'pi']

<li>The second method affects the list itself - no new list is created. Ordering is performed in situ by the method named <i>sort()</i>.

In [9]:
second_greek = ['omega', 'alpha', 'pi', 'gamma']
print(second_greek)

second_greek.sort()
print(second_greek)

['omega', 'alpha', 'pi', 'gamma']
['alpha', 'gamma', 'omega', 'pi']

<li>The number-string conversion is simple, as it is always possible. It's done by a function named <i>str()</i>.

In [10]:
itg = 13
flt = 1.3
si = str(itg)
sf = str(flt)

print(si + ' ' + sf)

13 1.3

<li>The reverse transformation (string-number) is possible when and only when the string represents a valid number. If the condition is not met, expect a ValueError exception.

In [11]:
si = '13'
sf = '1.3'
itg = int(si)
flt = float(sf)

print(itg + flt)

14.3

<h1>Section Summary</h1>
<p>Which of the following describe a <b>true</b> condition?</p>

In [12]:
print('smith' > 'Smith')
print('Smiths' < 'Smith')
print('Smith' > '1000')
print('11' < '8')

True
False
True
True

<p>What is the expected output of the following code?</p>

In [15]:
s1 = 'Where are the snows of yesteryear?'
s2 = s1.split()
s3 = sorted(s2)
# print(s3)
print(s3[1])

are

<p>What is the expected output of the following code?</p>

In [18]:
try:
    s1 = '12.8'
    i = int(s1)
    s2 = str(i)
    f = float(s2)
    print(s1 == s2)
except ValueError:
    print("That didn't work")

That didn't work